<div class="flex-1 relative bg-white dark:bg-[#0D1117]" data-controller="editor--main editor--persistence">
  <div data-editor--main-target="container" class="absolute inset-0 z-10 text-base"></div>
</div>
